{% do view.registerAssetBundle('rynpsc\\reviews\\web\\assets\\ReviewsAsset') -%}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('reviews', [
	'Date',
	'Element',
	'Rating',
	'Review',
	'No reviews exist for this user.',
]) %}

{% set settings = craft.app.plugins.getPlugin('reviews').settings %}
{% set displayType = settings.elementIndexRatingDisplayType %}

{% set tableData = [] %}

{% for review in reviews %}
    {% set ratingHtml %}
		{% set maxRating = review.getType().maxRating %}

		{% if displayType == constant('rynpsc\\reviews\\models\\Settings::RATING_DISPLAY_STAR') %}
			<div class="rynpsc-reviews-stars">
				<span class="visually-hidden">{{ review.rating }}/{{ maxRating }}</span>

				{% if review.rating %}
					{% for i in 1..review.rating %}
						{{ svg('@rynpsc/reviews/web/assets/star-filled.svg')|attr({
							class: 'rynpsc-reviews-star-filled',
						}) }}
					{% endfor %}
				{% endif %}

				{% if review.rating < maxRating %}
					{% for i in 1..(maxRating - review.rating) %}
						{{ svg('@rynpsc/reviews/web/assets/star-empty.svg')|attr({
							class: 'rynpsc-reviews-star-empty',
						}) }}
					{% endfor %}
				{% endif %}
			</div>
		{% else %}
			<span>{{ review.rating }}/{{ maxRating }}</span>
		{% endif %}
    {% endset %}

    {% set tableData = tableData|push({
		title: include('_elements/element', { element: review }),
        rating: ratingHtml,
		date: review.submissionDate|date('short'),
		element: include('_elements/element', { element: review.getOwner() }),
    }) %}
{% endfor %}

<div id="reviews" class="hidden">
    <div id="reviews-vue-admin-table"></div>
</div>

{% js %}
    new Craft.VueAdminTable({
        columns: [
            { name: 'title', title: Craft.t('reviews', 'Review') },
            { name: 'rating', title: Craft.t('reviews', 'Rating') },
            { name: 'element', title: Craft.t('reviews', 'Owner') },
            { name: 'date', title: Craft.t('reviews', 'Date') },
        ],
        container: '#reviews-vue-admin-table',
        padded: true,
        tableData: {{ tableData|json_encode|raw }},
		emptyMessage: Craft.t('reviews', 'No reviews exist for this user.'),
    });
{% endjs %}
