{% set maxRating = review.getType().maxRating %}
{% set settings = craft.app.plugins.getPlugin('reviews').settings %}
{% set displayType = settings.elementIndexRatingDisplayType %}

{% if displayType == constant('rynpsc\\reviews\\models\\Settings::RATING_DISPLAY_STAR') %}
	<div class="rynpsc-reviews-stars">
		<span class="visually-hidden">{{ review.rating }}/{{ maxRating }}</span>

		{% if review.rating %}
			{% for i in 1..review.rating %}
				{{ svg('@rynpsc/reviews/web/assets/star-filled.svg')|attr({
					class: 'rynpsc-reviews-star-filled',
				}) }}
			{% endfor %}
		{% endif %}

		{% if review.rating < maxRating %}
			{% for i in 1..(maxRating - review.rating) %}
				{{ svg('@rynpsc/reviews/web/assets/star-empty.svg')|attr({
					class: 'rynpsc-reviews-star-empty',
				}) }}
			{% endfor %}
		{% endif %}
	</div>
{% else %}
	<span>{{ review.rating }}/{{ maxRating }}</span>
{% endif %}
